.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.App-main {
  flex: 1;
}
.App-footer {
  font-size: 0.8rem;
  display: inline-flex;
  gap: 2em;
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.699);
}
h1 {
  margin: 2rem;
}
a {
  color: #61dafb9c;
}
a:hover,
a:focus {
  color: #61dafb;
}
