.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}
.App-main {
  flex: 1;
}

h1 {
  margin: 2rem;
}
a {
  color: #61dafb9c;
}
a:hover,
a:focus {
  color: #61dafb;
}
